html, body {
    margin: 0;
}

/*  GENERAL ELEMENTS  */

p {
    margin: 0;
    padding: 1em;
    color: white;
}

.bg {
    background-color: rgba(0,100,0,0.3);
}

td {
    padding: 0;
}

/*  LAYOUT  */

table {
    height: 100%;
    width: 100%;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
}

/* menu */

.menu {
    width: 300px;
    position: absolute;
    right: 0;
}

/* content */

.content-container {
    margin: 20px auto;
    max-width: 820px;
    position: relative;
}

.content-container > div {
    display: inline-block;
}

.content {
    width: 500px;
}

.content > .subcontent {
    float: left;
    margin-bottom: 20px;
    width: calc(50% - 30px);
}

.content > .subcontent:nth-child(even) {
    margin-left: 20px;
    margin-right: 10px;
}

.content > .subcontent:nth-child(odd) {
    margin-left: 10px;
    margin-right: 20px;
}

/* footer */

.footer-container {
    height: 100%;
}

.footer {
    height: 100%;
}

.footer p {
    width: 800px;
    margin: auto;
}

/*  RESPONSIVNESS  */

@media (max-width: 840px) {
    .menu, .content {
        width: 100%;
        position: static;
    }

    .menu {
        margin-bottom: 10px;
    }

    .content-container {
        margin: 10px;
    }

    .content > .subcontent {
        margin-bottom: 10px;
        width: calc(50% - 15px);
    }

    .content > .subcontent:nth-child(even) {
        margin-left: 10px;
        margin-right: 5px;
    }

    .content > .subcontent:nth-child(odd) {
        margin-left: 5px;
        margin-right: 10px;
    }
}

@media (max-width: 450px) {
    .content > .subcontent {
        width: calc(100% - 20px);
        margin: 0 10px 10px 10px !important;
    }
}












